$header-pink: #ffb8ca;
$menu-pink: #e17992;
$footer-pink: #fff5f6;
$title-pink: #d41443;
$main-font: 'DM Sans', sans-serif;
$accent-font: 'Titan One', sans-serif;
$green: #c2e297;
$yellow: #f0d1a5;
$white: #ffffff;